@{
    Layout = null;
}
<title>WrongSupp</title>
<div align="center">
    <h1>
        <p>Ой-ой, кажется вы уже оформляете корзину у другого поставщика</p>
        <p>Пожалуйста, завершите оформление корзины</p>
    </h1>
</div>
<div align="center">
    <a asp-action="Supliver" asp-controller="Home">Назад</a><br />
    <a asp-controller="CartItems" asp-action="Index">Перийти в корзину</a>
</div>

