<link href="~/css/yourstyle.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<nav class="navbar navbar-expand-sm bg-light navbar-dark" style="background: none !important;">
       @if (User.IsInRole("fadmin")) { <a class="navbar-brand" asp-action="FAdminLC" asp-controller="Home" style="
          color: #644a72;
          font-size: 2.25rem;
          ">CALLYDRYAS</a>
    }
    @if (User.IsInRole("admin"))
    {
        <a class="navbar-brand" asp-action="AdminLC" asp-controller="Home" style="
          color: #644a72;
          font-size: 2.25rem;
          ">CALLYDRYAS</a>
    }
    @if (User.IsInRole("buyers"))
    {
        <a class="navbar-brand" asp-action="BuyerLC" asp-controller="Home" style="
          color: #644a72;
          font-size: 2.25rem;
          ">CALLYDRYAS</a>
    }
    @if (User.IsInRole("supplier"))
    {
        <a class="navbar-brand"asp-action="SupLC" asp-controller="Home" style="
          color: #644a72;
          font-size: 2.25rem;
          ">CALLYDRYAS</a>
    }
    <a class="navbar-brand" href="#">
        <img src="~/img/frog.png" alt="Logo" style="width: 80px;">
    </a>
    <!-- Links -->
    <ul class="navbar-nav mr-auto" style="
          ">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link"asp-action="privacy" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">О нас</a>
        </li>
        @if (User.IsInRole("fadmin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="FAdminLC" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">Личный кабинет</a>
            </li>
        }
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="AdminLC" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">Личный кабинет</a>
            </li>
        }
        @if (User.IsInRole("buyers"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="BuyerLC" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">Личный кабинет</a>
            </li>
        }
        @if (User.IsInRole("supplier"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="SupLC" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">Личный кабинет</a>
            </li>
        }


        @if (User.IsInRole("admin") || User.IsInRole("buyers"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Supliver" asp-controller="Home" style="
              color: #644a72;
              font-size: 1.35rem;
              ">Магазины</a>
            </li>
        }
        @if (User.IsInRole("buyers"))
        {
            <a class="navbar-brand" asp-controller="CartItems" asp-action="Index" style="
            margin-left: 17px;
            ">
                <img src="~/img/buy.png" alt="Logo" style="width:40px;">
            </a>
        }
      
            <a class="navbar-brand" href="#" style="
            margin-right: 0;
            ">
                <img src="~/img/rub.png" alt="Logo" style="width:40px;">
            </a>
            <li class="nav-item">
                @if (User.IsInRole("supplier"))
                {
                    <a class="nav-link" style="color: #644a72; font-size: 1.35rem; text-decoration: underline;">@ViewData["Money"]</a>
                }
                else
                {
            <a class="nav-link" asp-action="Addmoney" asp-controller="Home" style="color: #644a72; font-size: 1.35rem; text-decoration: underline;">
                @ViewData["Money"]</a>
                }
            </li>
        
    </ul>
</nav>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}