@model IEnumerable<Zero.Models.Сheck>
@{ 
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="~/css/yourstyle.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <title>Чеки</title>
</head>
<body style="background-color: #cceae0;">
    <div class="container" style="background-color: white;margin-top: 60px;width: 100%;height: max-content;padding-bottom: 60px;">
        @{ await Html.RenderPartialAsync("_GetNavBar");}
        <h1 style="color: #419d7f; text-decoration: underline;">Личный кабинет</h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-4">
                <nav class="navbar bg-light" style="padding: 0; background-color: white!important; border: 1.4px solid #644a72; border-radius: 13px; width: 80%;">
                    <!-- Links -->
                    <ul class="nav flex-column" style="width: 100%;">
                        @if (User.IsInRole("buyers") )
                        { 
                            <li class="nav-item" style="border-bottom: 1.4px solid #644a72;">
                                <a class="nav-link" asp-action="Uplvl" asp-controller="Home">Стать поставщиком</a>
                            </li>
                        }
                        <li class="nav-item" style="">
                            <form asp-action="LogOff" asp-controller="Account">
                                <button class="nav-link btn btn-link text-dark">Выход</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-8">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Номер чека</th>
                            <th>Дата</th>
                            <th>Сумма</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Date</td>
                            <td>@item.Sum</td>
                            <td>                                
                                <a  asp-action="Cheak" asp-controller="Сheck" asp-route-id="@item.ID" class="btn btn-outline-success btn-block">Подробнее</a>                               
                           </td>
                        </tr>
                       }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
