 @{ 
     Layout = null;
 }
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="~/css/yourstyle.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body style="background-color: #cceae0;">
    <div class="container" style="background-color: white;margin-top: 60px;width: 100%;height: max-content;padding-bottom: 20px;">
        @{ await Html.RenderPartialAsync("_GetNavBar");}
        <h1 style="
        color: #419d7f;
        text-decoration: underline;
        ">
            о нас
        </h1>
        <div class="row" style="margin-top: 40px;margin-left: 37px;">
            <div class="col">
                <img src="https://static.tildacdn.com/tild6137-3238-4135-b839-616631303835/DSC_0211.jpg" class="mx-auto d-block rounded" style="height: 400px;margin-bottom: 20px;">
                <p>
                    Мы готовим только из свежих ингредиентов
                    В торговые точки ингредиенты и полуфабрикаты приходят ежедневно. Далее остается лишь осуществить «сборку» блюда и доготовку его на тепловом оборудовании. Это позволяет осуществлять многоуровневый контроль качества на всех этапах производственного процесса, а также стандартизировать качество выпускаемых блюд во всех кафе сети.
                </p>
                <p>
                    Мы готовим вкусно и безопасно
                    Мы строго cледим за соблюдением санитарно-гигиенических норм в кафе: ингредиенты хранятся в вакуумных упаковках в холодильниках продавец всегда одет в чистую форменную одежду при каждом приготовлении используется новая пара одноразовых перчаток. Все сотрудники имеют санитарные книжки, проходят регулярные медицинские осмотры и гигиеническое обучение.
                </p>
                <p></p>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>